.App {
  text-align: center;
  background-color: rgb(130, 189, 209);
}

.App-logo {
  height: 4rem;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  
  color: white;
}

.App-link {
  color: #61dafb;
}

.apt-title {
  font-size: 1.5rem;
}

